/* Comments */


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
head{
    margin:0;
    padding:0;
}
#flexible {
    display: flex;
    position: absolute;  
    justify-content: center;
    align-items: center;  
}
#move1 { transform: translate(0px, 300px); }
#move2 { transform: translate(400px, 800px); }
#move3 { transform: translate(600px, 280px); }
#move4 { transform: translate(600px, 1580px); }
#move5 { transform: translate(600px, 1280px); }
.cloud {
	width: 350px; height: 120px;
  background: #f2f9fe;
  
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.05, #f2f9fe), to(#d6f0fd));
  background: -webkit-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  
  border-radius: 100px;
  position: relative;
  margin: 180px auto 100px;
  z-index: -1;
}

.cloud:after, .cloud:before {
  content: "";
  position: absolute;
  background: #f2f9fe;
  z-index: -1;
}

.cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;
  border-radius: 100px;
}

.cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
}

.shadow {
  width: 300px;
  position: absolute;
  bottom: -10px;
  left: 20px;  
  background: #000;
  z-index: -1;
  -webkit-box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);
  box-shadow: 0 0 25px 3px rgba(0,0,0,0.3);
  border-radius: 50%;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    background: #ACEAFF;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85)
}

/* Transition */

a, .btn {
    transition: all 300ms ease;
}

nav, .nav-links{
    display: flex;
    padding: 20px;
}

nav {
    position: relative; 
    z-index: 1000;      
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    
}
#desktop-nav{
    background-color: white;

}

.logo{
    font-size: 2rem;
}


.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

#typewriter{
    position:static;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10vh);
    height: 90vh;
    z-index: 999;
}
#typewriter p{
    display: inline-block;
    color: #000;
    font-size: 2.5rem;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 2px;
    
    border-right: 1px solid;
    animation: typing 3s steps(34) forwards, blinks 0.6s step-end infinite;
    max-width: fit-content;
    
}

@keyframes typing{ 
    from{width: 0}
    to{width: 34ch;}   
}

@keyframes blinks{
    50%{
        border-color: transparent;
    }
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo{
    font-size: 2rem;
    
}

.logo:hover{
    cursor: default;

}

/* The Hamburg Menu*/
#hamburger-nav{
    display: none;
    background-color: white;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    max-width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;

}

.menu-links.open{
    max-height: 300px;

}

.hamburger-icon.open{
    border-radius: 10px;
    background-color: lightgray;
}
.hamburger-icon.open span{
    
    border-radius: 10px;
    background-color: lightcoral;
}

.sections{


}