/* Comments */


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
head{
    margin:0;
    padding:0;
}
#flexible {
    display: flex;
    position: absolute;  
    justify-content: center;
    align-items: center;  
}
#move1 { transform: translate(0px, 300px); }
#move2 { transform: translate(400px, 800px); }
#move3 { transform: translate(600px, 280px); }
#move4 { transform: translate(600px, 1580px); }
#move5 { transform: translate(600px, 1280px); }
.cloud {
	width: 350px; height: 120px;
  background: #f2f9fe;
  
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.05, #f2f9fe), to(#d6f0fd));
  background: -webkit-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  
  border-radius: 100px;
  position: relative;
  margin: 180px auto 100px;
  z-index: -1;
}

.cloud:after, .cloud:before {
  content: "";
  position: absolute;
  background: #f2f9fe;
  z-index: -1;
}

.cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;
  border-radius: 100px;
}

.cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
}

.shadow {
  width: 300px;
  position: absolute;
  bottom: -10px;
  left: 20px;  
  background: #000;
  z-index: -1;
  -webkit-box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);
  box-shadow: 0 0 25px 3px rgba(0,0,0,0.3);
  border-radius: 50%;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    background: linear-gradient(#ACEAFF,violet);
    overflow-x: hidden;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

p {
    color: rgb(85, 85, 85)
}



a, .btn {
    transition: all 300ms ease;
}

nav, .nav-links{
    display: flex;
    padding: 20px;
}

nav {
    position: relative; 
    z-index: 1000;      
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    
}
#desktop-nav{
    background-color: white;

}

.logo{
    font-size: 2rem;
}


.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

#typewriter{
    position:static;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10vh);
    height: 90vh;
    z-index: 999;
}
#typewriter p{
    display: inline-block;
    color: #000;
     font-size: clamp(1rem, 5vw, 3.5rem);
    margin-inline: auto;
    overflow: hidden; 
    white-space: nowrap;
    padding-right: 2px;
    
    border-right: 1px solid;
    animation: typing 3s steps(34) forwards, blinks 0.6s step-end infinite;
    max-width: fit-content;
    box-sizing: content-box;
}

@keyframes typing{ 
    from{width: 0}
    to{width: 34ch;}   
}

@keyframes blinks{
    50%{
        border-color: transparent;
    }
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo{
    font-size: 2rem;
    
}

.logo:hover{
    cursor: default;

}

/* The Hamburg Menu*/
#hamburger-nav{
    display: none;
    background-color: white;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    max-width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;

}

.menu-links.open{
    max-height: 300px;
    transition: max-height 0.3s;
}

.hamburger-icon.open{
    border-radius: 10px;
    background-color: lightgray;
    transition: background-color 0.3s;
}
.hamburger-icon.open span{
    
    border-radius: 10px;
    background-color: lightcoral;
    box-shadow: lightsalmon 0px 2px 0px;
    transition: 0.3s linear;
}

.sections{


}
#animatedScroll {
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    width: 90%;
    height: 60vh;
    opacity: 1;
    animation-name: appear, fadeOut;
    animation-timing-function: linear, linear;
    animation-timeline: view(), view();
    animation-range: entry 0% cover 45%, cover 80% cover 110%;
    box-shadow: 2vh 2vh 5vh rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;

    }
    to{
        opacity: 1;
        scale:1;

    }
}
@keyframes fadeOut{
    from{
        opacity: 1;
        scale: 1;
    }
    to{
        opacity: 0.3;
        scale: 0.7;
    }
}

#placeHolder {
    width: 100vh;
    aspect-ratio: 1/1;
}

#containerforprof {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    gap: 6vh;
}

/* Profile image responsive rules
   - image uses clamp() so it scales with viewport but stays within bounds
   - container centers the image; on wide screens the profile section becomes a two-column layout */
.section__pic-container{
    margin: 0;
    
    padding: 0;
    display: block;
    width: fit-content;
    
    
}

.section__pic-container img{
    display: block;
    width: 50vw;
    height: auto;
    
} 

.btn-container button{
    background-color: black;
    color: white;
    width: 12vh;
    height: 6vh;
    padding: 5px;
    border-radius: 30px;
    border: 3px solid lightgray;
    font-size: 1.4vh;
    margin-inline: auto;
    margin: 0.3vh
}

.btn-container button:hover{
    background-color: gray;
    cursor: pointer;
    box-shadow: 0.3vh 0.3vh 0.5vh rgba(0, 0, 0, 0.3);
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width:fit-content
}
#profile{
    
    display: flex;
    justify-content: flex-start;
    
    align-items: center;
    gap: 3vh;
    padding:0;
    
    
}
 section img{
    width: 5vw;
    height: auto;
    max-width: 15vw;
    max-height: 15vh;
    object-fit: contain;
 }

#socials-container{
    display: inline-block;
    
    
 }

 .section__text p{
    position: relative;
    font-size: 2.4vw;
    overflow:hidden;
 }

#socials-container img{
    width: 3.5vw;
    height: auto;
    margin-inline: .1vh;
    transition: transform 0.3s ease;
    
 } 

 #socials-container img:hover{
    filter: grayscale(100%);
    cursor: pointer;
    mix-blend-mode: luminosity;
 }
 .section__text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline: auto;
    text-align: center; /* center headings and paragraphs inside the profile text area */
 }

 #about{
    display: flex;
    justify-content: center;
    width: 100%;
    
    
 }

 #containerAbout{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
    padding-right: 5vh;
    width: 90%;
    align-items: center;
 }



.aboutblock1{
    width: fit-content;
    height: fit-content;
    display: inline-block;
    font-size: 1.5vw;
    
    
    padding: 5vw;
    padding-right: 1vw
}
.aboutblock2{
    width: 25%;
    height: fit-content;
    display: inline-block;
    font-size: 2vw;
    
    
}
.aboutblock{
    display: block;
    width: 100%;
    text-align: center;
}
#animatedScroll2 {
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    width: 90%;
    height: fit-content;
    opacity: 1;
    animation-name: appear, fadeOut;
    animation-timing-function: linear, linear;
    animation-timeline: view(), view();
    animation-range: entry 0% cover 45%, cover 80% cover 110%;
    box-shadow: 2vh 2vh 5vh rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    box-sizing: content-box;
    
}
#text-container{
    width: 40vw;

    padding: 0;
}