/* Comments */


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
head{
    margin:0;
    padding:0;
}
#flexible {
    display: flex;
    position: absolute;  
    justify-content: center;
    align-items: center;  
}
.move1 { transform: translate(0px, 300px); }
.move2 { transform: translate(400px, 800px); }
.move3 { transform: translate(600px, 280px); }
#cloud {
	width: 350px; height: 120px;
  background: #f2f9fe;
  
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.05, #f2f9fe), to(#d6f0fd));
  background: -webkit-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: -moz-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  background: linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
  
  border-radius: 100px;
  position: relative;
  margin: 180px auto 100px;
}

#cloud:after, #cloud:before {
  content: "";
  position: absolute;
  background: #f2f9fe;
  z-index: -1;
}

#cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;
  border-radius: 100px;
}

#cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
}

.shadow {
  width: 300px;
  position: absolute;
  bottom: -10px;
  left: 20px;  
  background: #000;
  z-index: -1;
  -webkit-box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);
  box-shadow: 0 0 25px 3px rgba(0,0,0,0.3);
  border-radius: 50%;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    background: #ACEAFF;
}

httml {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85)
}

/* Transition */

a, .btn {
    transition: all 300ms ease;
}

nav, .nav-links{
    display: flex;

}

nav {
    position: relative; 
    z-index: 1000;      
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background-color: white;
}
.logo{
    font-size: 2rem;
}


.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}